#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.cool-link{
  display: inline-block;
  color:white;
  text-decoration: none;
  transition: 0.3s ease-in;
  border-bottom: solid 2px black;
}
#changeClass{
  cursor: pointer;
}
.navbar-contents{
  width: 100%;
}
.navbar-contents a{
  letter-spacing: 0.1em;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.699)
}

.navbar li {
  display: inline-block;
  text-decoration: none;
}

.navbar ul {
  height: 50px;
}

.navbar li:not(:last-child) {
  margin-right: 30px;
}

.active {
  padding-left: 10px;
}

.navbar-contents li {
  height: 100%;
}
footer{
  clear: both;
  position: relative;
  min-height: 5px;
  margin-top: -200px;
}

.navbar-contents li a {
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.cool-link:hover {
  border-bottom: solid 5px black;
  color: white;
}
.navbar_img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_img > img{
    width: 100px;
}
.navbar_kvt{
    flex: 6;
}
.navbar_kvt_p{
    display: flex;
    justify-content: center;
}
.navbar_kvt_p > h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_kvt_p > h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    padding-left: 100px;
    text-shadow: 2px 2px;
    font-style: oblique;
    color: black;
    font-weight:400;
}
.navbar_logout{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn btn-outline-success_a {
    text-decoration: none;
    background-color:white;
}



.ds{
  letter-spacing: 0.1em;
  padding-left: 1.8vw;
  margin-top: 2vh;
}
#addClass{
  letter-spacing: 0.1em;
  margin: 20px 0 0 0.7vw;
}



.container-fluid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px;
}
.container_box{
  height: 100px;
  width: 150px;
  border-style:solid;
  border-color: black;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  border-width: 2px;
}
.container_box:hover{
  background-color: gray;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.container_box_content{
  display: flex;
  padding-top: 28px;
  justify-content: center;
}
.container_box_content > a{
  text-decoration: none;
  color: black;
}
.text-center text-white{
 padding-top: 10px;
}
.fab >img{
  width: 4000px;
  height: 2px;
}
.fab > img{
  width: 20px;
  height: 20px;
}
.footer{
  background-color: wheat;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.slogan{
  font-family: 'Carattere', cursive;
}

.ds-border{
  border: solid;
  display: flex;
  flex: 10;
  margin: 0 3vw 0 3vw;
}
.ds-border-stt{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.ds-border_stt_contain{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid;
}
.ds-border_ten{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.ds-border_ten_contain{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid;
}
.STT{
  padding: 0 5px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editButton{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 83vw;
}
#avg{
margin-right: 10px;
}
.ds-border_stt_contain_subject{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid;
}
#inputPassword6{
  margin: 10px 0 0 10px;
}
#saveClass{
  letter-spacing: 0.1em;
  margin: 20px 0 0 5px;
}
#refresh{
  letter-spacing: 0.1em;
  margin: 20px 0 0 5px;
}